server {
    listen 80;
    server_name www.inboxmsg.xyz inboxmsg.xyz;
    location / {
        proxy_set_header real-ip $remote_addr;
        proxy_pass http://localhost:8000;
    }
}

server {
    listen 80;
    server_name blog.inboxmsg.xyz;
    location / {
        proxy_set_header real-ip $remote_addr;
        proxy_pass http://localhost:8001;
    }
}