<!DOCTYPE html>
<html lang="zh-CN" class="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    <title>InBoxMsg - 暂时不知道用来干什么</title>
    <link rel="stylesheet" href="static/css/main.css">
    <style>
      .background{
        z-index: -3;
        position: fixed;
      }
      .heimu,.heimu a,a .heimu {
          border: none;
          background-color: #252525!important;
          color: #252525!important;
          cursor: help
      }

      .heimu:hover,.heimu:active {
          color: #fff!important;
      }

      .heimu a:hover,a:hover .heimu {
          border: none;
          cursor: pointer
      }
    </style>
</head>
<body class="zhi ">
<img class="background" src="static/img/background-web.png">
<div class="index-main">
    <div class="index-main-body">
        <div class="index-header">

            <h1>InBox-Msg</h1>
            <h2 class="subtitle">稻花香里说丰年<br><span class="heimu">听取人生经验</span></h2>
        </div>

        <div class="desk-front sign-flow clearfix sign-flow-simple">
            <div class="index-tab-navs">
                <div class="navs-slider" data-active-index="0">
                    <a id="id-signup" href="#signup" class="active">注册</a>
                    <a id="id-signin" href="#signin">登录</a>
                    <span class="navs-slider-bar"></span>
                </div>
            </div>


            <div class="view view-signin" id="id-signin-form">
                <!--<form class="zu-side-login-box" id="sign-form-0" autocomplete="off">-->
                    <div class="group-inputs">
                        <div class="account input-wrapper">
                            <input id="id-login-uname" type="text" name="username" aria-label="用户名" placeholder="用户名" required>
                        </div>

                        <div class="verification input-wrapper">
                            <input id="id-login-password" type="password" name="password" aria-label="密码" placeholder="密码" required/>
                        </div>

                        <div class="input-wrapper captcha-module" data-type="en">
                        </div>

                    </div>

                    <div class="button-wrapper command">
                        <button class="sign-button" id="id-btn-login" type="submit" >登录</button>
                    </div>
                <!--</form>-->
            </div>

            <div class="view view-signup selected" id="id-signup-form">
                    <input type="password" hidden>
                    <div class="group-inputs">
                        <div class="name input-wrapper">
                            <input id="id-register-uname" required type="text" name="username" placeholder="用户名 ( 不少于 2 位 ）">
                        </div>

                        <div class="input-wrapper">
                            <input id="id-register-password" required type="password" name="password" aria-label="密码" placeholder="密码（不少于 6 位）"
                                   autocomplete="off">
                        </div>

                        <div class="input-wrapper captcha-module" data-type="en">
                            <div class="captcha-container">
                            </div>
                        </div>
                    </div>

                    <div class="button-wrapper command">
                        <button class="sign-button submit" id="id-btn-register" type="submit">注册</button>
                    </div>
                <p class="agreement-tip">点击「注册」按钮，即代表你同意<a href="/terms" target="_blank">《网站使用协议》</a></p>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <a href="#" class="footer-mobile-show">联系我们</a>
</div>

<script src="static/js/login/ajax.js"></script>
<script src="static/js/login/login.js"></script>

</body>
</html>
