<!DOCTYPE html>
<html lang="zh-CN" class="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    <title>InBoxMsg - 暂时不知道用来干什么</title>

    <link rel="stylesheet" href="static/css/main.css">
    <script src="static/js/instant.js"></script>
</head>
<body class="zhi ">


<div class="index-main">
    <div class="index-main-body">
        <div class="index-header">

            <h1>InBoxMsg</h1>

            <h2 class="subtitle">分享你装逼的知识、经验和技巧</h2>
        </div>

        <div class="desk-front sign-flow clearfix sign-flow-simple">

            <div class="index-tab-navs">
                <div class="navs-slider">
                    <a href="/signup" class="active">注册</a>
                    <a href="/signin">登录</a>
                    <span class="navs-slider-bar"></span>
                </div>
            </div>


            <div class="view view-signin">
                <form method="POST" action="{{ url_for('.login') }}">
                    <div class="group-inputs">
                        <div class="account input-wrapper">
                            <input type="text" name="username" aria-label="用户名" placeholder="用户名" required>
                        </div>

                        <div class="verification input-wrapper">
                            <input type="password" name="password" aria-label="密码" placeholder="密码" required/>
                        </div>

                        <div class="input-wrapper captcha-module" data-type="en">
                        </div>

                    </div>

                    <div class="button-wrapper command">
                        <button class="sign-button" type="submit" >登录</button>
                    </div>
                </form>
            </div>

            <div class="view view-signup selected">
                <form class="zu-side-login-box" action="{{ url_for('.register') }}" id="sign-form-1" autocomplete="off"
                      method="POST">
                    <input type="password" hidden>
                    <div class="group-inputs">
                        <div class="name input-wrapper">
                            <input required type="text" name="username" placeholder="用户名">
                        </div>

                        <div class="input-wrapper">
                            <input required type="password" name="password" aria-label="密码" placeholder="密码（不少于 6 位）"
                                   autocomplete="off">
                        </div>

                        <div class="input-wrapper captcha-module" data-type="en">
                            <div class="captcha-container">
                            </div>
                        </div>
                    </div>

                    <div class="button-wrapper command">
                        <button class="sign-button submit" type="submit">注册</button>
                    </div>
                </form>

                <p class="agreement-tip">点击「注册」按钮，即代表你同意<a href="/terms" target="_blank">《网站使用协议》</a></p>
            </div>
        </div>
    </div>
</div>

<div class="footer">
    <a href="#" class="footer-mobile-show">联系我们</a>
</div>

</body>
</html>